odoo_test_helper
odoo-addon-base_rest @ git+https://github.com/OCA/rest-framework@refs/pull/506/head#subdirectory=base_rest
odoo-addon-product_get_price_helper @ git+https://github.com/OCA/product-attribute@refs/pull/1926/head#subdirectory=product_get_price_helper
